body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f7f7f7;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

.color-buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

button {
    font-size: 16px;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    background-color: #4caf50;
    border: none;
    border-radius: 5px;
    color: white;
    outline: none;
}

.shape-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.shape {
    width: 150px;
    height: 150px;
    background-color: #ccc;
}

.shape-text {
    font-size: 1.5em;
    color: #333;
    font-weight: bold;
    display: none;
}

.input-container {
    margin-top: 20px;
}

input {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}
